#head {
    background-color: rgb(41, 108, 255);
    color: white;
    margin-bottom: 1rem;
}

#information {
    margin: 1rem;
    border: 1px black solid;
    border-radius: 15px;
    padding: 1rem;
}
form {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.clearResults {

    margin: 1rem;
    padding: 2rem;
}
form label {
    font-weight: bolder;
}

.warning {
    color: red;
    font-weight: bolder;
}

.footer {
    position: relative;
    width:100%;
    /* line-height: 40px; */
    background-color: rgb(41, 108, 255);
    color: white;
}
footer > div > span > a{
    color: orange; 
}  
/* 
@media (min-width: 576px) { 

    .footer {
        display: block;
        position: absolute;
        width:100%;
        line-height: 40px;
        bottom: 0;
        background-color: rgb(41, 108, 255);
        color: white;
    }
} */